*{padding: 0;margin: 0;box-sizing: border-box;list-style: none;font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;}
a{
    text-decoration: none;
}
.main{
    width: 1222px;
    margin: 0 auto;
}
body{
    width: 100%;
    height: 100%;
    overflow-y:auto ;
    overflow-x: hidden;
}
html{
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size:contain;
    padding-top: 20px;
    filter:alpha(opacity=10);
}
.nav{
    width: 100%;
    height: 60px;
    opacity: 0.7;
    border-radius: 10px;
    background: #676A6C;
    margin-bottom: 20px;
    overflow: hidden;
}
.logo{
    float: left;
    margin-left: 8px;
    height: 60px;

}
.nav ul{
    float: right;
    margin-right:8px ;
    height: 60px;

}
.nav ul li{
    width: 70px;
    float: left;
    margin-left: 30px;
    text-align: center;
}
.nav ul li a{
    color: #fff;
    line-height: 60px;
}
.nav ul li a:hover{
    color: #FFB94F;
}
.content{
    position: relative;
    clear: both;
    width: 950px;
    background:#fff;
    opacity: 0.7;
    border-radius: 10px;
    padding: 20px;
    float: left;
    height: 100%;
    overflow: hidden;
}
.title{
    position: relative;
    font-size: 36px;
}
.title span{
    position: absolute;
    bottom: -5px;
    left: 0px;
    height: 1px;
    width: 100%;
    border-bottom: 2px dashed #0d8ddb;
}
.aside{
    width: 250px;
    background:#fff;
    opacity: 0.7;
    float: right;
    border-radius: 10px;
    padding: 10px;
    padding-top: 30px;
}
.aside a{
    color: #000;
    line-height: 30px;
}
.wz{
    border-bottom: dotted 1px #888888;
    padding: 10px;
    overflow: hidden;
    line-height: 30px;
}
.wz a h4{
    font-size: 24px;
    color: #2d2622;
}
.wz p{
    font-size: 16px;
    line-height: 18px;
    color: #47474b;
}
.wz i{
    float: right;
    margin-right: 30px;
    margin-top: 25px;
}
.wz i a{
    font-size: 12px;
    margin-left: 20px;
    float: left;
}
.wz i a b{
    color: #47474b;
}
.wz i a img{
    height: 18px;
    width: 18px;
}
.wz i a:hover{
    color: red;
}
.aside form{
    margin-top: 20px;
}
.aside form input[type="text"]{
    height: 25px;
}
.aside form button{
    width: 50px;
    height: 25px;
    border: none;
    background: #009F95;
    color: #fff;
}
.aside .list{
    margin-top: 8px;
    border-top: 1px dashed #888888;
    overflow: hidden;
}
.aside .list ul{
    margin-top: 5px;
}
.aside .list ul li{
    width: 110px;
    height: 25px;
    background: #009F95;
    line-height: 25px;
    text-align: center;
    color: #f4f4f4;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
.aside .list ul li:hover{
    background: #FFB94F;
}
.aside .newart{
    border-top: 1px dashed #888888;
    margin-top: 8px;
}
.aside .newart ul{
    margin-top: 8px;
}
.aside .newart ul li{
    margin-bottom: 8px;
}
.aside .newart ul li a{
    font-size: 16px;
    line-height: 18px;
}
.aside .newart ul li a:hover{
    color: #FFB94F;
}
.top{
    margin-left: 388px;
    margin-top: 22px;
}
.right{
    margin-left: 88px;
    margin-top: 22px;
}
.right table{
    border-collapse: collapse;
}
.right table tr td{
    width: 610px;
    padding-left: 10px;
    line-height: 40px;
    border: solid 1px #e7e8ea;

}
.right table tr td:nth-child(1){
    width: 80px;
    color: #000000;
    font-weight: bold;
}
.right table tr td:nth-child(2){
    color: #252024;
}
.footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #212121;
    opacity: 0.7;
    margin-top: 8px;
    border-radius: 10px;
}
.footer span{
    margin-left: 500px;
}