@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
img { border: none; display: block; }
ul li, ol li,li{ list-style:none; }
a {  text-decoration:none;  color: #707070;}
h1 , h2 , h3 ,h4 ,h5 , h6{font-weight: normal;}
.font24{ font-size: 24px;}
.font14{ font-size: 14px;}
.fl{float: left;}
.fr{float: right;}
img,input{border: none; outline: none;}
body{ font-family: "微软雅黑"; font-style: normal; background: #ffffff; font-size: 14px; color: #666664;}

